.container {
  padding: 20px;
  background-color: #000;
  color: #fff;
  background-image: url('/bg1.jpg'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.genre {
  margin-bottom: 40px;
}

.genreTitle {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
}

.toggleArrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.collapsed {
  transform: rotate(0deg);
}

.expanded {
  transform: rotate(90deg);
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.expandedContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Permet d'étirer les enfants pour qu'ils aient la même hauteur */
}

/* Styles globaux */
.channelCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.channelCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.channelImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.channelImage img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.channelImage img:hover {
  transform: scale(1.1);
}

.channelTitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}

.type {
  font-size: 1rem;
  color: #dadada;
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  .channelCard {
    padding: 15px;
  }

  .channelImage img {
    width: 50px;
    height: 50px;
  }

  .channelTitle {
    font-size: 1rem;
  }

  .type {
    font-size: 0.9rem;
  }
}




.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1000; /* Ensure it is on top of other content */
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
}

.returnButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1100;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .channelImage {
    width: 180px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .channelImage {
    width: 150px;
    height: 84px;
  }

  .genreTitle {
    font-size: 20px;
  }

  .channelTitle {
    font-size: 16px;
  }

  .type {
    font-size: 12px;
  }
}

